body {
    font-family: Raleway, Arial, sans-serif;
    margin: 40px;
    }

/*header*/

header {
    display: flex;
    justify-content: space-between;
}

header img{
    width: 120px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-right: 30px;
}

a{
    text-decoration: none;
}

nav a{
    color: #0065FC;
}

nav a:hover{
    padding-top: 52px;
    border-top: 4px solid #0043a7;
    color: #0043a7;
    transition: 0.3s;
}

/*section recherche*/

h1{
    padding-top: 10px;
    font-size: 1.4em;
}

#slogan{
    margin-top: -10px;
}

.gras{
    font-weight: bold;
}

.barreRecherche{
    display: flex;
}

.bordureRecherche{
    width: 400px;
    border-radius: 15px;
    border: 0.5px solid #F2F2F2;
}

.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}

.tailleIcone {
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.fondGris {
    background-color: #F2F2F2;
}

.fondBleuFonce{
    background-color: #0065FC;
}

.fondBleuClair{
    background-color: #DEEBFF;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.bordureNone {
    border: none;
}

.bouttonRecherche{
    height: 50px;
    width: 120px;
    color: white;
    border-radius: 0 15px 15px 0;
}

.bouttonRecherche:hover{
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    box-shadow: 0px 0px 35px #2727278e;

}

.filtres{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    font-size: 1.1em;
}

.filtreIcone{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.bordureFiltre{
    padding-right: 20px;
    border-radius: 50px;
    box-sizing: content-box;
    border: 2px solid #F2F2F2;
    border-left: none;
    height: 48px;
    margin-left: 25px;
    cursor: pointer;
}

.bordureFiltre:hover{
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    box-shadow: 0px 0px 35px #dadada;
}

.iTexte{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.iRond{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
}

.iRond i{
    color: #0065FC;
    font-size: 12px;
}

/*section hébergements*/

.hebergements{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
}

.grille75{
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-right: 30px;
    padding: 20px 40px 10px 40px;
    width: 75%;
}

.grille25{
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 20px 40px 10px 40px;
    width: 25%;
}

h2{
    font-size: 1.4em;
}

.grille3{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.vignetteHotel{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    padding: 5px;
    padding-bottom: 8px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 33%;
}

.vignetteHotel:hover{
    transition: 0.1s ease-in-out;
    -webkit-transform: scale(1.03); /* Safari et Chrome */
    -moz-transform: scale(1.03); /* Firefox */
    -ms-transform: scale(1.03); /* Internet Explorer 9 */
    -o-transform: scale(1.03); /* Opera */
    transform: scale(1.03);
    box-shadow: 0px 0px 35px #2727278e;
    background-color: #DEEBFF;
}

.afficherPlus{
    cursor: pointer;
}

.imgHebergements{
    height: 125px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

#cannebière{
    background-image: url('images/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

#hotelPort{
    background-image: url('images/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

#hotelMouettes{
    background-image: url('images/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

#hotelMer{
    background-image: url('images/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

#aubergePanier{
    background-image: url('images/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

#hotelAmina{
    background-image: url('images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.texteVignette{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 60%;
}

.texteVignette p{
    margin-top: -12px;
    margin-bottom: 8px;
}

.texteTexte{
    margin-bottom: auto;
}

.etoileBleue{
    color: #0065FC;
}

.etoileGrise{
    color: #dadada;
}

#titreIcone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line{
    font-size: 1.5em;
}

.imageVignetteGauche{
    width: 40%;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
}

.vignetteGauche{
    display: flex;
    padding-bottom: 5px;
    margin-right: 0px;
    max-height: 140px;
    width: auto;
}

#soleilMatin{
    background-image: url('images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}

#coeurEau{
    background-image: url('images/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

#hotelBleuBlanc{
    background-image: url('images/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

/*section activités*/

.galerieActivite{
    display: flex;
    justify-content: space-between;
    height: 460px;
    gap: 30px;
    width: 100%;
    margin-bottom: 40px;
}

#Activités{
    margin-bottom: 50px;
}

#Activités h2{
    margin-top: 50px;
}

.vignetteActivite{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    width: 25%;
    min-width: 150px;
    cursor: pointer;
}

.vignetteActivite:hover, .vignetteMini:hover{
    transition: 0.1s ease-in-out;
    -webkit-transform: scale(1.03); /* Safari et Chrome */
    -moz-transform: scale(1.03); /* Firefox */
    -ms-transform: scale(1.03); /* Internet Explorer 9 */
    -o-transform: scale(1.03); /* Opera */
    transform: scale(1.03);
    box-shadow: 0px 0px 35px #2727278e;
}

.vignetteActiviteDouble{
    width: 25%;
    min-width: 150px;
}

.vignetteMini{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    min-width: 150px;
    cursor: pointer;
    padding-bottom: 0.1px;
}

.imgActivite{
    border-radius: 20px 20px 0 0;
    padding-top: 410px;
    background-size: cover;
    background-position: center;
}

.galerieActivite p{
    font-weight: bold;
    margin-left: 20px;
}

#vieuxPort{
    background-image: url('images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}

#pomegues{
    background-image: url('images/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    padding-top: 210px;
}

#frioul{
    background-image: url('images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    padding-top: 120px;
    margin-top: 30px;
}

#calanques{
    background-image: url('images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}

#notreDame{
    background-image: url('images/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    padding-top: 160px;
}

#longchamp{
    background-image: url('images/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    padding-top: 170px;
    margin-top: 30px;
}

/*footer*/

footer{
    padding: 20px 40px 40px 40px;
    margin: 0 -40px -40px -40px;
}

.footFlex{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer a{
    color: black;
}

footer li{
    margin-bottom: 12px;
}

/*Media Queries 800px*/

@media all and (min-width: 1051px) {
    #supprimerOrdi {
        display: none;
    }
}



@media all and (max-width: 1050px) {
    body {
        width: 93%;
        margin: 15px;
    }

    header{
        font-size: 1.3em;
        display: initial;
    }
    
    #headerUn{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img{
        width: 160px;
    }

    .inscription{
        font-weight: bold;
        font-size: 1.2em;
        color: #0065FC;
    }

    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0 -20px 0 -20px;
    }

    nav a{
        color: black;
    }

    nav ul{
        padding: 0;
        width: 100%;
    }

    nav ul li{
        border-bottom: 4px solid #f2f2f2;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        width: 50%;
        text-align: center;
    }

    header ul li a:hover {
        border-top: none;
    }

    header ul li:hover {
        border-bottom: 4px solid #0065fc;
        padding-bottom: 20px;
    }

    header ul li:hover a{
        color: #0065fc;
    }

    .sousheader{
        font-size: 1.3em;
    }

    .bordureRecherche{
        margin-top: 40px;
        width: 100%;
        max-width: 485px;
    }

    .recherche{
        height: 65px;
        width: 100%;
        font-size: 23px;
        padding-left: 20px;
    }
    
    .tailleIcone {
        height: 65px;
        width: 65px;
    }
    
    .bouttonRecherche{
        height: 65px;
        width: 65px;
        border-radius: 15px 15px 15px 15px;
    }

    #supprimerMobile{
        display: none;
    }
    
    .filtres{
        width: auto;
        display: flex;
        flex-wrap: wrap
    }
    
    #retourLigne{
        width: 200px;
    }

    .filtreIcone{
        height: 65px;
        min-width: 65px;
        margin-right: 15px;

    }
    
    .bordureFiltre{
        height: 59px;
        margin-top: 20px;
        border: 3px solid #F2F2F2;
        margin-left: 0px;
        margin-right: 15px ;
        border-left: none;
    }
    
    .iTexte{
        margin-top: 15px;
    }
    
    .iRond{
        height: 30px;
        min-width: 30px;
        margin-right: 20px;
        border: 3px solid #F2F2F2;
    }
    
    .iRond i{
        font-size: 16px;
    }

    .hebergements{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .grille25{
        border-radius: 0;
        width: 100%;
        margin: -15px;
        padding: 12px;
    }    
    
    .imageVignetteGauche{
        min-width: 150px;
        height: 170px;
    }
    .vignetteGauche{
        max-height: 167px;
    }

    .texteVignette{
        margin-left: 20px;
        font-size: 1.1em;
    }

    .etoilesBas{
        margin-top: 25px;
        font-size: 0.9em;
    }

    .grille75{
        border-radius: 0;
        background-color: unset;
        margin-right: 0;
        padding: 0;
        margin-top: 30px;
        width: 100%;
    }

    .grille3{
        flex-direction: column;
        gap: 0;
    }

    .vignetteHotel{
        padding-bottom: 8px;
        margin-bottom: 30px;
        width: 96%;
    }

    .imgHebergements{
        height: 160px;
    }

    .afficherPlus{
        font-size: 1.6em;
    }

    h2{
        font-size: 2em;
    }

    .galerieActivite{
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
    }

    .vignetteActivite{
        width: auto;
    }

    .vignetteActiviteDouble{
        width: 100%;
    }

    .imgActivite{
        padding-top: 200px;
    }

    #pomegues{
        padding-top: 200px;
    }

    #frioul{
        padding-top: 200px;
    }

    #notreDame{
        padding-top: 200px;
    }

    #longchamp{
        padding-top: 200px;
    }

    .vignetteActivite p{
        font-size: 1.4em;
    }

    footer{
        margin: -11px;
        padding: 12px;
    }

    footer a{
        font-size: 1.4em;

    }

    .footFlex{
        flex-direction: column;
    }
  }