body {
    font-family: Raleway, Arial, sans-serif;
    margin: 40px;
    }

/*header*/

header {
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-right: 30px;
}

a{
    text-decoration: none;
}

nav a{
    color: #0065FC;
}

nav a:hover{
    padding-top: 55px;
    border-top: 1px solid #0065FC;
}

/*section recherche*/

h1{
    padding-top: 10px;
    font-size: 1.4em;
}

#slogan{
    margin-top: -10px;
}

.gras{
    font-weight: bold;
}

.barreRecherche{
    display: flex;
}

.bordureRecherche{
    width: 400px;
    border-radius: 15px;
    border: 0.5px solid #F2F2F2;
}

.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}

.tailleIcone {
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.fondGris {
    background-color: #F2F2F2;
}

.fondBleuFonce{
    background-color: #0065FC;
}

.fondBleuClair{
    background-color: #DEEBFF;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.bordureNone {
    border: none;
}

.bouttonRecherche{
    height: 50px;
    width: 120px;
    color: white;
    border-radius: 0 15px 15px 0;
}

.filtres{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    font-size: 1.1em;
}

.filtreIcone{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.bordureFiltre{
    padding-right: 20px;
    border-radius: 50px;
    box-sizing: content-box;
    border: 2px solid #F2F2F2;
    border-left: none;
    height: 48px;
    margin-left: 25px;
    cursor: pointer;
}

.iTexte{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.iRond{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
}

.iRond i{
    color: #0065FC;
    font-size: 12px;
}

/*section hébergements*/

.hebergements{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.grille75{
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-right: 30px;
    padding: 20px 40px 10px 40px;
}

.grille25{
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 20px 40px 10px 40px;
}

h2{
    font-size: 1.4em;
}

.grille3{
    display: flex;
    justify-items: space-between;
    gap: 30px;
}

.vignetteHotel{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    padding: 5px;
    padding-bottom: 8px;
    margin-bottom: 30px;
    cursor: pointer;
}

.imgHebergements{
    min-width: 250px;
    height: 125px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

#cannebière{
    background-image: url('images/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

#hotelPort{
    background-image: url('images/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

#hotelMouettes{
    background-image: url('images/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

#hotelMer{
    background-image: url('images/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

#aubergePanier{
    background-image: url('images/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

#hotelAmina{
    background-image: url('images/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.texteVignette{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 0.9em;
}

.texteVignette p{
    margin-top: -12px;
    margin-bottom: 8px;
}

.etoileBleue{
    color: #0065FC;
}

.etoileGrise{
    color: #dadada;
}

#titreIcone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line{
    font-size: 1.5em;
}

.imageVignetteGauche{
    min-width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
}

.vignetteGauche{
    display: flex;
    padding-bottom: 5px;
    margin-right: 0px;
    max-height: 140px;
    min-width: 305px;
}

#soleilMatin{
    background-image: url('images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}

#coeurEau{
    background-image: url('images/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

#hotelBleuBlanc{
    background-image: url('images/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

.etoilesBas{
    margin-top: 50px;
}

/*section activités*/

.galerieActivite{
    display: flex;
    justify-content: space-between;
    height: 460px;
    gap: 30px;
}

#Activités{
    margin-bottom: 50px;
}

#Activités h2{
    margin-top: 50px;
}

.vignetteActivite{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    width: 350px;
    min-width: 250px;
    cursor: pointer;
}

.vignetteMini{
    padding-bottom: 0.1px;
}

.imgActivite{
    border-radius: 20px 20px 0 0;
    padding-top: 410px;
    background-size: cover;
    background-position: center;
}

.vignetteActivite p{
    font-weight: bold;
    margin-left: 20px;
}

#vieuxPort{
    background-image: url('images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}

#pomegues{
    background-image: url('images/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    padding-top: 210px;
}

#frioul{
    background-image: url('images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    padding-top: 120px;
    margin-top: 30px;
}

#calanques{
    background-image: url('images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}

#notreDame{
    background-image: url('images/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    padding-top: 160px;
}

#longchamp{
    background-image: url('images/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    padding-top: 170px;
    margin-top: 30px;
}

/*footer*/

footer{
    padding: 20px 40px 40px 40px;
    margin: 0 -40px -40px -40px;
}

.footFlex{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer a{
    color: black;
}

footer li{
    margin-bottom: 12px;
}

/*Media Queries 800px*/

@media (min-width: 801px) {
    #supprimerOrdi {
        display: none;
    }
}

@media (max-width: 800px) {
    body {
        margin: 30px;
    }

    header{
        font-size: 1.3em;
    }

    #inscription{
        font-weight: bold;
    }

    .sousheader{
        font-size: 1.3em;
    }

    .bordureRecherche{
        margin-top: 40px;
        width: 420px;
    }

    .recherche{
        height: 65px;
        width: 290px;
        font-size: 25px;
        padding-left: 20px;
    }
    
    .tailleIcone {
        height: 65px;
        width: 65px;
    }
    
    .bouttonRecherche{
        height: 65px;
        width: 65px;
        border-radius: 15px 15px 15px 15px;
    }

    #supprimerMobile{
        display: none;
    }





    
    
    .filtres{
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        font-size: 1.1em;
    }
    
    .filtreIcone{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: #0065FC;
        background-color: #DEEBFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    
    .bordureFiltre{
        padding-right: 20px;
        border-radius: 50px;
        box-sizing: content-box;
        border: 2px solid #F2F2F2;
        border-left: none;
        height: 48px;
        margin-left: 25px;
        cursor: pointer;
    }
    
    .iTexte{
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    
    .iRond{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid #F2F2F2;
        margin-right: 10px;
    }
    
    .iRond i{
        color: #0065FC;
        font-size: 12px;
    }








    .hebergements{
        display: flex;
        flex-direction: column-reverse;
    }

    .grille25{
        border-radius: 0;
        margin: 0 -30px 0 -30px;
        padding: 25px 30px 20px 30px;
    }    
    
    .imageVignetteGauche{
        min-width: 180px;
        height: 200px;
    }
    .vignetteGauche{
        max-height: 200px;
    }

    .texteVignette{
        margin-left: 20px;
        font-size: 1.1em;
    }

    .etoilesBas{
        margin-top: 25px;
        font-size: 0.9em;
    }

    .grille75{
        border-radius: 0;
        background-color: unset;
        margin-right: 0;
        padding: 0;
        margin-top: 30px;
    }

    .grille3{
        flex-direction: column;
        gap: 0;
    }

    .imgHebergements{
        height: 160px;
    }

    #afficherPlus{
        font-size: 1.6em;
    }

    h2{
        font-size: 2em;
    }

    .galerieActivite{
        flex-direction: column;
        height: auto;
    }

    .vignetteActivite{
        width: auto;
    }

    .imgActivite{
        padding-top: 200px;
    }

    #pomegues{
        padding-top: 200px;
    }

    #frioul{
        padding-top: 200px;
    }

    #notreDame{
        padding-top: 200px;
    }

    #longchamp{
        padding-top: 200px;
    }

    .vignetteActivite p{
        font-size: 1.4em;
    }

    footer a{
        font-size: 1.4em;
    }

    .footFlex{
        flex-direction: column;
    }
  }